@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h2>Online remote U.K. and Las Palma
<p>Remote Team member and Web applications developer. 
    <h4>Roles</h4>
    <ul>
        <li>Lead Programmer for distributed members who collaborate to deliver</li>
        <li>Assistant Programmer and Pier Reviewer</li>
        <li>Tester</li>
        <li>Cognition</li>
               
    </ul>
    
    </p>
See our local observatory found a <a href="https://www.iac.es/en/outreach/news/huge-superbubble-observed-interacting-galaxy" target="_new">superbubble</a>
<br><br>
John J Mulkearns.
